<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center fw-bold text-white" id="new">New Castle</h1>
        <div class="col-6 offset-3">
            <div class="card shadow">
                <div class="card-body">
                    <form action="/castles" method="POST" novalidate class="validated-form"
                        enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label" for="">Title</label>
                            <input type="text" class="form-control" id="title" name="castle[title]" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">Location</label>
                            <input type="text" class="form-control" id="location" name="castle[location]" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="price">Ticket Price</label>
                            <div class="input-group">
                                <span class="input-group-text" id="price-label">€</span>
                                <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                                    aria-describedby="price-label" name="castle[price]" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="">Description</label>
                            <textarea type="text-area" class="form-control" id="description" name="castle[description]"
                                required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="">Add Images</label>
                            <div class="input-group mb-3">
                                <input type="file" class="form-control" id="image" name="image" required multiple>
                                <label class="input-group-text" for="image">Upload</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-dark"> <a href="/castles">Back</a>
                            </button>
                            <button class="btn btn-dark">Add Castle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>